[submodule "proj1"]
	path = proj1
	url = https://github.com/rocky98653212/proj1.git
[submodule "proj2"]
	path = proj2
	url = https://github.com/rocky98653212/proj2.git
[submodule "submodules/subproj"]
	path = submodules/subproj
	url = https://github.com/rocky98653212/subproj.git
